<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div
            id="user-data"
            #userData="ngModelGroup"
            ngModelGroup="userData">

          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              ngModel
              name="username"
              required
            >
          </div>
          <button class="btn btn-default" type="button" (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input
              type="email"
              id="email"
              class="form-control"
              ngModel
              name="email"
              email
              #email="ngModel"
            >
            <span class="help-block" *ngIf="!email.valid && email.touched">please enter valid message</span>
          </div>
        </div>
        <p *ngIf="!userData.valid && userData.touched">User data is invalid</p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select
            id="secret"
            class="form-control"
            [ngModel]="defaultQuestion"
            name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea
            class="form-control"
            name="questionAnserw"
            rows="3"
            [(ngModel)]="anserw"
          ></textarea>
          <p>Your reply: {{anserw}}</p>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              name="gender"
              ngModel
              [value]="gender"
            >
            {{ gender }}
          </label>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!f.valid"
          >
          Submit</button>
      </form>
      <hr>

      <div class="row">
        <div class="col-xs-12">
          <h3>Your data</h3>
          <p>Username: </p>
          <p>Mail: </p>
          <p>Secret Question: </p>
          <p>Anserw: </p>
          <p>Gender: </p>
        </div>
      </div>
    </div>
  </div>
</div>
